.Powers {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}


.Selector {
  background-color: #ff3333;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.Selector-active {
  background-color: green;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.Gamble {
  background-color: #00cc99;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.ExtraTime {
  background-color: #666666;
  color: black;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}

.ExtraTimeActive {

}

.Points {
  margin: 10px;
}

.totalPoints {
  margin: 0;
  padding: 0;
}

.totalSub {
  margin: 0;
  padding: 0;
}

.bombTitle {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.bombPoints {
  font-size: .75em;
  padding: 0;
  margin: 0;
}

.pixxiti-camera {
  /*text-align: left;
  background-color: #222;*/
  cursor: pointer;
  transform-origin: center;
  width: 50px;
  height: 50px;
}

.pixxiti-camera-no-cursor {
  /*text-align: left;
  background-color: #222;*/
  transform-origin: center;
  cursor: default;
  width: 50px;
  height: 50px;
}

.top {
  background-color: #222;
  height: 80px;
  position: absolute;
  z-index: 26;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.draw {
  height: 40px;
  position: absolute;
  z-index: 26;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.pixxiti {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 1;
}

.pixxiti-container {
  align-items: center;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.pixxiti-viewer {
  transform-origin: center;
}

canvas {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-color: white;
  pointer-events: none;
  display: block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 5px;
  padding-left: 10px;
  color: white;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.draw_button {
  background-color: red;
  border-radius: 5px;
  color: white;
  display: inline-block;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  cursor: pointer;
}

.draw_button_dead {
  background-color: #ddd;
  border-radius: 5px;
  color: black;
  display: inline-block;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  cursor: pointer;
}

.draw_button_active {
  background-color: green;
  border-radius: 5px;
  color: white;
  display: inline-block;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Top {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 25px;
}

.Bottom_0 {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.Bottom_1 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #E4E4E4;
  margin: 0;
  padding: 0;
}

.Bottom_2 {
  width: 25px;
  height: 25px;
  background-color: #888888;
  margin: 0;
  padding: 0;
}

.Bottom_3 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #222222;
  margin: 0;
  padding: 0;
}

.Bottom_4 {
  width: 25px;
  height: 25px;
  background-color: #FFA7D1;
  margin: 0;
  padding: 0;
}

.Bottom_5 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #E50000;
  margin: 0;
  padding: 0;
}

.Bottom_6 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #E59500;
  margin: 0;
  padding: 0;
}

.Bottom_7 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #A06A42;
  margin: 0;
  padding: 0;
}

.Bottom_8 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #E5D900;
  margin: 0;
  padding: 0;
}

.Bottom_9 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #94E044;
  margin: 0;
  padding: 0;
}

.Bottom_10 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #02BE01;
  margin: 0;
  padding: 0;
}

.Bottom_11 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #00D3DD;
  margin: 0;
  padding: 0;
}

.Bottom_12 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #0083C7;
  margin: 0;
  padding: 0;
}

.Bottom_13 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #0000E4;
  margin: 0;
  padding: 0;
}

.Bottom_14 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #CF6EE4;
  margin: 0;
  padding: 0;
}

.Bottom_15 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #820080;
  margin: 0;
  padding: 0;
}

.color_00_g {
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
}

.color_01_g {
  background-color: #E4E4E4;
  width: 100%;
}

.color_02_g {
  background-color: #888888;
  width: 100%;
}

.color_03_g {
  background-color: #222222;
  width: 100%;
}

.color_04_g {
  background-color: #FFA7D1;
  width: 100%;
}

.color_05_g {
  background-color: #E50000;
  width: 100%;
}

.color_06_g {
  background-color: #E59500;
  width: 100%;
}

.color_07_g {
  background-color: #A06A42;
  width: 100%;
}

.color_08_g {
  background-color: #E5D900;
  width: 100%;
}

.color_09_g {
  background-color: #94E044;
  width: 100%;
}

.color_10_g {
  background-color: #02BE01;
  width: 100%;
}

.color_11_g {
  background-color: #00D3DD;
  width: 100%;
}

.color_12_g {
  background-color: #0083C7;
  width: 100%;
}

.color_13_g {
  background-color: #0000E4;
  width: 100%;
}

.color_14_g {
  background-color: #CF6EE4;
  width: 100%;
}

.color_15_g {
  background-color: #820080;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.colorBox {
  background-color: white;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  border-color: #ddd;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  cursor: pointer;
}

.colorBox_gray {
  background-color: white;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  border-color: #ddd;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  filter: grayscale();
}
